.movies__container-again {
  margin: 0;
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
}

.movies__button-agian {
  margin: 0;
  padding: 11px 60px 9px 60px;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  border: 1px solid #424242;
  border-radius: 6px;
}