.movies {
  margin: 0;
  padding: 0;
}

.movies__container-again {
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
}

.movies__button-agian {
  margin: 0;
  padding: 11px 60px 9px 60px;
  width: 200px;
  box-sizing: content-box;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  border: 1px solid #424242;
  border-radius: 6px;
}

.movies__button-agian:hover {
  opacity: 70%;
}

.movies__button-agian_hidden {
  opacity: 0;
}

.movies__button-agian_hidden:hover {
  opacity: 0;
}

@media (max-width: 400px) {
  .movies__button-agian {
    margin: 0 auto;
    padding: 11px 20px 9px ;
  }
}