.profile {
  margin: 0 auto;
  padding: 74px 0 70px 0;
  max-width: 410px;
  min-height: calc(100vh - 74px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__title {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.profile__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__container {
  margin: 0;
  padding: 123px 0 220px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  border: none;
}

.profile__label {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  cursor: pointer;
}

.profile__label:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__input {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #fff;
  flex-grow: 1;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  text-align: end;
  border: none;
}

.profile__input:focus {
  outline: 0;
}

.profile__input-error {
  margin: 0;
  padding: 0;
  color: #EE3465;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: -1;
  opacity: 0;
}

.profile__input-error_open {
  z-index: 1;
  opacity: 1;
}

.profile__status {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: -1;
  opacity: 0;
}

.profile__status_open_error {
  color: #FF004C;
  z-index: 1;
  opacity: 1;
}

.profile__status_open_successfully {
  z-index: 1;
  opacity: 1;
}

.profile__button {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border: none;
}

.profile__button:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__button_color_red {
  padding: 10px 0 0 0;
  color: #EE3465;
  font-weight: 500;
}

.profile__button_disabled {
  color: #C2C2C2;
}

.profile__button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .profile__container {
    padding: 96px 0 210px 0;
  }
}

@media (max-width: 470px) {
  .profile {
    margin: 0 30px;
    padding: 70px 0 40px 0;
  }

  .profile__form {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .profile__container {
    flex-grow: 1;
    padding: 80px 0 0 0;
    row-gap: 17px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}