.search {
    margin: 0;
    padding: 80px 0 40px 0;
    border-bottom: 1px solid #424242;
}

.search__form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.search__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.search__input {
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    background-color: #2F2F2F;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    border-radius: 8px;
}

.search__submit-button {
    margin: 0;
    padding: 0;
    width: 44px;
}

.search__label {
    margin: 0;
    padding: 28px 0 0 0;
    color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    align-self: center;
    display: flex;
}

.search__input-radio {
    margin: 0 12px 0 0;
    padding: 0;
    display: block;

}