.saved-movies {
    margin: 0 auto;
    max-width: 1140px;
    min-height: calc(100vh - 246px);
}

.saved-movies__container {
    padding: 0;
    height: 242px;
}

@media (max-width: 810px) {
    .saved-movies__container {
        height: 175px;
    }
}

@media (max-width: 400px) {
    .saved-movies__container {
        height: 140px;
    }
}