.techs-wrapper {
  background-color: #272727;
}

.techs {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1140px;
}

.techs__subtitle {
  margin: 0 auto;
  padding: 90px 0 26px 0;
  max-width: 600px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

.techs__text {
  margin: 0 auto;
  padding: 0;
  max-width: 460px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.techs__list {
  margin: 0 auto;
  padding: 100px 0 0 0;
  display: grid;
  grid-auto-columns: 90px;
  grid-template-columns: 90px;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: center;
  list-style: none;
}

.techs__item {
  margin: 0;
  padding: 21px 0;
  max-width: 90px;
  background-color: #303030;
  color: #fff;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 10px;
}

@media (max-width: 1240px) {
  .techs {
    margin: 0 50px;
    padding: 90px 0;
  }

  .techs__subtitle {
    margin: 0 auto;
    padding: 80px 0 22px 0;
    font-size: 50px;
    line-height: 58px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

}

@media (max-width: 800px) {
  .techs__list {
    padding: 83px 0 0 0;
    grid-auto-columns: 84px;
    grid-template-columns: 84px;
  }

  .techs__item {
    max-width: 84px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 750px) {
  .techs__subtitle {
    padding: 60px 0 24px 0;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
    padding: 50px 0 0 0;
    grid-template-columns: repeat(2, 84px);
    grid-auto-flow: row;
    gap: 10px;
  }
}

@media (max-width: 360px) {
  .techs {
    margin: 0 18px;
    padding: 70px 0;
  }
}