.promo {
  padding: 110px 0;
}

.promo__title {
  margin: 0;
  padding: 0 0 23px 0;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  border-bottom: 1px solid #DADADA;
}

.promo__container {
  margin: 0;
  padding: 70px 0 0 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  column-gap: 40px;
}

.promo__subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.promo__text {
  margin: 0;
  padding: 26px 0 0 0;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.promo__time-bar {
  margin: 0;
  padding: 110px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 14px;
}

.promo__time-bar-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.promo__time-bar-text_color_green {
  padding: 9px 0 9px 0;
  color: #000;
  background-color: #3DDC84;
}

.promo__time-bar-text_color_gray {
  padding: 9px 0 9px 0;
  color: #fff;
  background-color: #303030;
}

.promo__time-bar-text_color_black {
  color: #A0A0A0;
}

@media (max-width: 768px) {
  .promo {
    padding: 90px 0;
  }

  .promo__container {
    column-gap: 30px;
  }

  .promo__text {
    padding: 22px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .promo__time-bar {
    padding: 93px 0 0 0;
    grid-template-columns: 21% auto;
  }
  
}

@media (max-width: 605px) {
  .promo {
    padding: 70px 0;
  }

  .promo__title {
    padding: 0 0 28px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .promo__container {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .promo__subtitle {
    padding: 40px 0 0 0;
    font-size: 18px;
    line-height: 22px;
  }

  .promo__text {
    padding: 0;
    font-size: 11px;
    line-height: 16px;
  }

  .promo__time-bar {
    padding: 60px 0 0 0;
    grid-template-columns: 35% auto;
    row-gap: 10px;
  }

  .promo__time-bar-text {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
  }

}