.component__logo-link { 
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 38px;
}

.component__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: auto;
}

@media (max-width: 456px) {
  .component__logo-link {
    display: flex;
    justify-content: center;
  }
}